.App {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  font-family: sans-serif, Arial, Helvetica;

  width: 680px;
  max-width: 100%;
  margin: 10px auto;
}

body {
  background: #272727;
}

#root {
  color: #101010;
}

.content {
  padding: 8px 8px;
  border-radius: 16px;
  background-color: #343434;
}

.App h1 {
  text-align: center;
}

.header {
	color: #ffffff;
	background-color: #7bc5e3;
	border-radius: 16px;
	padding: 6px;
  text-shadow: 3px 3px 0px #0094ce;
  border: 3px dotted #ffffff;
  cursor: default;

  /* Wood: #c6b086, Darker skyblue: #1e8ebb, Yellow: #b4b40e */
  box-shadow: -3px -2px 0px #c6b086, 1px 1px 4px 2px #7198a7;
}

.subheader {
	font-size: 18px;
	padding-left: 4px;
	color: #ffffff;
	position: absolute;
	margin-top: 30px;
	transform: rotate(-10deg);
	margin-left: -44px;
	text-shadow: 2px 2px 0px #0094ce;
  cursor: default;
}

.channel {
  display: flex;
  flex-direction: row;
  align-items: center;
  
  min-width: 300px;
  cursor: pointer;
  background-color: #4c4c4c;
  border-radius: 40px;
  height: 44px;
  margin-bottom: 8px;
}
.channel:last-child {
  margin-bottom: 0px;
}
.channel:hover {
  background-color: #535353;
}

.avatar {
  padding-left: 3px;
}

.avatar img {
  display: flex;
  flex-direction: row;
  align-items: center;
  
  width: 34px;
  height: 34px;
  background-size: cover;
  background-position: top center;
  border-radius: 50%;
  border: 2px solid #4c4c4c;
}

.youtube {
  box-shadow: 0 0 0 2px #ba0000;
}

.twitch {
  box-shadow: 0 0 0 2px #9146ff;
}

.facebook {
  box-shadow: 0 0 0 2px #1877f2;
}

.ng {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 8px;
  min-width: 112px;
}

.name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  
  text-decoration: none;
  color: #ededed;
  outline: 0;
  font-size: 14px;
}

.game {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  
  font-size: 14px;
  color: #a7a7a7;
}

.details {
  flex: 1 1;
  display: flex;
  min-width: 0;
}

.stream-title-p {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  min-width: 0;
}

.stream-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  font-size: 14px;
  max-width: 100%;
  color: #a7a7a7;
}

.view-count {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-left: auto;
  padding-left: 14px;
  padding-right: 20px;

  min-width: 36px;
  max-width: 100%;
  font-size: 14px;
  color: #d5d5d5;
}

.cloud {
	width: 108px;
	height: 36px;
	background: #f7f7f7;
	box-shadow: 4px 5px rgba(0, 0, 0, 0.2);
  border-radius: 100px;
  position: relative;
  top: 58px;
  left: -107px;
  z-index: -1;
  margin: auto;
}
.cloud::after, .cloud::before {
   content: "";
   position: relative;
   display: inline-block;
   background: inherit;
   border-radius: inherit;
}
.cloud::before {
	width: 58px;
	height: 58px;
	top: -26px;
  left: 38px;
}
.cloud::after {
	width: 40px;
	height: 40px;
	top: -32px;
	left: -44px;
}

.cloud2 {
	width: 86px;
	height: 28px;
	background: #f7f7f7;
	box-shadow: 4px 5px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
  position: relative;
  top: -86px;
  right: -106px;
  z-index: 1;
  margin: auto;
}
.cloud2::after, .cloud2::before {
   content: "";
   position: relative;
   display: inline-block;
   background: inherit;
   border-radius: inherit;
}
.cloud2::before {
	width: 42px;
	height: 42px;
	top: -17px;
  right: -8px;
}
.cloud2::after {
	width: 40px;
	height: 40px;
	top: -18px;
	right: 4px;
}

.no-select {
  user-select: none;
}

/* Source: https://gist.github.com/AnsariAbdullah/26981b22c15941b81996ab933612623b */
.moon {
  position: absolute;
  left: 8px;
  top: 8px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  box-shadow: 6px 3px 0px 0px #383b4b;
  z-index: -1;
}

.offline {
  opacity: 0.4;
}
.offline:hover {
  opacity: 0.7;
}

.online {
  font-weight: bold;
}

#loading-p {
  display: flex;
	flex-direction: row;
	justify-content: center;
  align-items: center;
  height: 44px;
  color: #ffffff;
}

/* Source: https://codepen.io/mandelid/pen/vwKoe */
#loading-p > span {
  display: inline-block;
  width: 25px;
  height: 25px;
  border: 4px solid #7bc5e3;
  border-radius: 50%;
  border-top-color: #ffffff;
  animation: spin 1s linear infinite;
  -webkit-animation: spin 1s linear infinite;
}
@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}

/* Source: https://stackoverflow.com/a/39669911 */
/* .fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.5s;
}
@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
} */

/* footer {
  position: absolute;
  margin: auto;
  left: 0;
  bottom: 0;
  width: 50%;
  color: #a7a7a7;
  background-color: #343434;
  text-align: center;
  z-index: 0;
  padding: 6px;
  border-radius: 8px;
} */