.App {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  width: 600px;
  max-width: 100%;
  margin: 30px auto;
}

body {
  background: #272727;
}

#root {
  color: #101010;
}

.content {
  padding: 50px 50px;
  border-radius: 16px;
  background-color: #343434;
}

.header {
  text-align: center;
  color: white;
}

.channel {
  display: flex;
  flex-direction: row;
  align-items: center;
  
  cursor: pointer;
  background-color: #4c4c4c;
  border-radius: 40px;
  margin-bottom: 8px;
}

.channel:hover {
  display: flex;
  flex-direction: row;
  align-items: center;
  
  cursor: pointer;
  background-color: #5c5c5c;
  border-radius: 40px;
  margin-bottom: 8px;
}

.avatar img {
  display: flex;
  flex-direction: row;
  align-items: center;
  
  width: 32px;
  height: 32px;
  background-size: cover;
  background-position: top center;
  border-radius: 50%;
}

.name {
  text-decoration: none;
  padding-left: 8px;
  color: #fcfcfc;
  outline: 0;
}

.details {
  flex: 1 1;
  display: flex;
}

.stream-title {
  display: flex;
  /* flex-direction: row; for some reason this doesn't affect anything */
  align-items: center;
  
  font-size: 14px;
  color: #a7a7a7;
}

.view-count {
  display: flex;
  /* flex-direction: row; for some reason this doesn't affect anything */
  align-items: center;
  margin-left: auto;
  margin-right: 8px;

  font-size: 12px;
  color: #d5d5d5;
}

.platform {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 2px;
  margin-right: 8px;

  background-color: #9147ff;
  width: 18px;
  height: 18px;
  border-radius: 50%;
}


























#avatar {
  width: 32px;
  height: 32px;
  background-size: cover;
  background-position: top center;
  border-radius: 50%;
}