.App {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  width: 680px;
  max-width: 100%;
  margin: 30px auto;
}

body {
  background: #272727;
}

#root {
  color: #101010;
}

.content {
  padding: 8px 8px;
  border-radius: 16px;
  background-color: #343434;
}

.header {
  text-align: center;
  color: white;
}

.subheader {
  font-size: 16px;
}

.channel {
  display: flex;
  flex-direction: row;
  align-items: center;
  
  min-width: 300px;
  cursor: pointer;
  background-color: #4c4c4c;
  border-radius: 40px;
  height: 40px;
  margin-bottom: 8px;
}
.channel:last-child {
  margin-bottom: 0px;
}
.channel:hover {
  background-color: #5c5c5c;
}

#avatar {
  width: 32px;
  height: 32px;
  background-size: cover;
  background-position: top center;
  border-radius: 50%;
}

.avatar {
  padding-left: 4px;
}

.avatar img {
  display: flex;
  flex-direction: row;
  align-items: center;
  
  width: 32px;
  height: 32px;
  background-size: cover;
  background-position: top center;
  border-radius: 50%;
}

.ng {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding-left: 6px;
  min-width: 102px;
}

.name {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  
  text-decoration: none;
  color: #fcfcfc;
  outline: 0;
  font-size: 14px;
}

.game {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  
  font-size: 14px;
  color: #a7a7a7;
}

.details {
  flex: 1 1;
  display: flex;
}

.stream-title {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: nowrap;
  font-size: 14px;
  max-width: 100%;
  color: #a7a7a7;
}

.view-count {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-left: auto;
  margin-right: 8px;

  min-width: 36px;
  max-width: 100%;
  font-size: 14px;
  color: #d5d5d5;
}

.platform {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-right: 8px;

  background-color: #9147ff;
  min-width: 18px;
  height: 18px;
  border-radius: 50%;
}